<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">

    <test name="ChromeTest">

        <parameter name="browser" value="chrome" />

        <classes>

            <class name="testSuites.PageFactoryDemo" />

        </classes>

    </test>

    <test name="IETest">

        <parameter name="browser" value="ie" />

        <classes>

            <class name="testSuites.PageFactoryDemo" />

        </classes>

    </test>
</suite>
